@use 'bootstrap/scss/bootstrap';

.login-container {
  width: 300px;
}

.notification {
  z-index: 2000;

  .alert-heading:last-child {
    margin-bottom: 0;
  }
}

.accordion-item .accordion-body {
  .accordion-content,
  .accordion-footer {
    padding: var(--bs-accordion-body-padding-y)
      var(--bs-accordion-body-padding-x);
  }
}
